name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-slim

    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y luajit
    - name: Test
      run: cd test && luajit run-all.lua
